@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;  
    font-size: 16px;
}   
h1, h2, h3, h4, h5, h6{
    font-family: 'Lora', serif;
    margin: 0;
}

a{
   text-decoration: none;
}

ul, li{
    margin: 0;
    padding: 0;

}

p{
    margin: 0;

}

section{
    margin: 0 0 100px 0;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 15px;

}

.btn {
    width: 240px;
    height: 60px;

    cursor: pointer;

    font-family: 'Lato';
    font-size: 16px;
    text-transform: uppercase;

    color: white;
    background-color: #FF427F;
    border: none;
}

.title {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title-wrapper {
    text-align: center;
    margin: 0 0 40px 0;
}

.flower{
    margin: 10px 0 0 0;
}

/* HEADER */

.header {
    padding: 20px 0;

}

.logo {
    font-family: 'Lora';
    font-weight: 500;
    color: #FF427F;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header__list {
    list-style: none;
    display: flex;
    gap: 30px;

}

.header__list a {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}


/* WELCOME */

.welcome {
    padding: 150px 0;

    color: white;
    background-color: #0F100e;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/welcome-bg.jpg);
    background-size: cover;
    background-position: center top;
}

.welcome p{
    font-size: 30px;
    margin: 0 0 60px 0;
}

.welcome__title {
    margin: 0 0 60px 0;

    font-size: 60px;
    text-transform: uppercase;
}

.welcome__title span{
    color: #FFABC6;
}


/* ABOUT-US */


.about-us {
    margin: 0 0 100px 0;

}

.about-us__container{
    display: flex; 
    gap: 30px;
}



.about-us__images-wrapper {
    display: flex;
    gap: 20px;

}

.about-us__column {
    width: 265px;


    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.about-us__column img{
    width: 100%;
    object-fit: cover;
}

.about-us__desc {
    position: relative;

}

.about-us__subtitle {
    margin: 0 0 5px 0;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FF427F;
    text-transform: uppercase;
}


.about-us-title {
    margin: 0 0 20px 0;

    text-align: left;
    letter-spacing: normal;
}

.about-us__text {
    margin: 0 0 40px 0;
}


.about-us__text p{
    margin: 0 0 40px 0;

    font-size: 18px;
    line-height: 1.6;
}

.about-us__text p + p{
    margin: 10px 0 0 0;
}

.about-us__ring {
    position: absolute;
    bottom: 0;
    right: 25px;
}

/******* SERVICES *******/


.title-wrapper {
    margin: 0 0 40px 0;
    text-align: center;
}

.cards-wrapper {
    margin: 0 0 30px 0;

    display: flex;
    justify-content: space-between;

}


.card {
    width: 360px;
    height: 440px;

    padding: 0 30px 40px 0;

    position: relative;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card__desc {
    width: 300px;
    padding: 20px 30px 15px 20px;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;


    background-color: #fff;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.1);

}


.card__title {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 20px;
} 


.card__text {
    margin: 0 0 10px 0;

    font-weight: 500;
    line-height: 1.4;

}

.card__link-wrapper{
    text-align: right;
}

.card__more-link {
    font-size: 14px;
    color: #FF427F;
}

.link{
    width: 240px;
    height: 60px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #FF427F;
    border-radius: 5px;

    text-transform: uppercase;

    color: #FF427F;

}
