@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap");

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #ffabc6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

section {
  margin: 0 0 100px 0;
}

blockquote {
  margin: 0;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 240px;
  height: 60px;

  cursor: pointer;

  font-family: "Lato";
  font-size: 16px;
  text-transform: uppercase;

  color: white;
  background-color: #ff427f;
  border: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #FF6899;
}

.btn:active {
  background-color: #FF0254;
}


.btn--light {
  background-color: #fff;
  color: #ff427f;
}

.btn--light:hover {
  background-color: #eeeded;
}

.btn--light:active {
  background-color: #dddcdd;
}


.link {
  width: 240px;
  height: 60px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #ff427f;
  border-radius: 5px;

  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s;
  color: #ff427f;
}

.link:hover {
  color: #FF6899;
  border-color: #FF6899
}

.link:active {
  color: #FF0254;
  border-color: #FF0254;
}

.title {
  font-family: "Lora";
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title-wrapper {
  text-align: center;
  margin: 0 0 40px 0;
}

.flower {
  margin: 10px 0 0 0;
  position: relative;
  display: inline-block;
}

.flower::after,
.flower::before {
  content: "";
  background-color: #FF427F;
  width: 150px;
  height: 2px;
  position: absolute;

  top: 50%;

  transform: translateY(-100%);
}

.flower::after {
  left: calc(100% + 7px);
}

.flower::before {
  right: calc(100% + 7px);
}

.socials__link svg {
  fill: #EC5598;
  transition: 0.3s;
}

.socials__link svg:hover {
  fill: #fc8eb1;
}

.socials__link svg:active {
  fill: #FF0254;
}

/* HEADER */

.header {
  padding: 20px 0;
}

.logo {
  font-size: 30px;
  font-family: "Lora";
  font-weight: 500;
  color: #ff427f;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header__list a {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  transition: 0.3s;
}

.header__list a:hover {
  color: #5f5e5e;
  transform: scale(1.05);
}

.header__list a:active {
  color: #FF0254;
  transform: scale(0.9);
}

/* WELCOME */

.welcome {
  padding: 150px 0;

  color: white;
  background-color: #0f100e;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/welcome-bg.jpg);
  background-size: cover;
  background-position: center top;
}

.welcome p {
  font-size: 30px;
  margin: 0 0 60px 0;
}

.welcome__title {
  margin: 0 0 60px 0;

  font-size: 60px;
  text-transform: uppercase;
}

.welcome__title span {
  color: #ffabc6;
}

.welcome__title span::selection {
  background-color: #fff;
  color: #ffabc6;
}
/* ABOUT-US */

.about-us {
  margin: 0 0 100px 0;
}

.about-us__container {
  display: flex;
  gap: 30px;
}

.about-us__images-wrapper {
  display: flex;
  gap: 20px;
}

.about-us__column {
  width: 265px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-us__column img {
  width: 100%;
  object-fit: cover;
}

.about-us__desc {
  position: relative;

}

.about-us__desc::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 140px;
  background: url("./img/ring-1.png") no-repeat center / contain;
  bottom: 0;
  right: 0;
}

.about-us__subtitle {
  margin: 0 0 5px 0;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff427f;
  text-transform: uppercase;
}

.about-us__title {
  margin: 0 0 20px 0;

  text-align: left;
  letter-spacing: normal;
}

.about-us__text {
  margin: 0 0 40px 0;
}

.about-us__text p {
  margin: 0 0 40px 0;

  font-size: 18px;
  line-height: 1.6;
}

.about-us__text p+p {
  margin: 10px 0 0 0;
}

.about-us__ring {
  position: absolute;
  bottom: 0;
  right: 25px;
}

/******* SERVICES *******/

.title-wrapper {
  margin: 0 0 40px 0;
  text-align: center;
}

.cards-wrapper {
  margin: 0 0 30px 0;

  display: flex;
  justify-content: space-between;
}

.card {
  width: 360px;
  height: 440px;

  padding: 0 30px 40px 0;

  position: relative;

  transition: transform 1s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__desc {
  width: 300px;
  padding: 20px 30px 15px 20px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  background-color: #fff;
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.1);
}

.card__title {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 20px;
}

.card__text {
  margin: 0 0 10px 0;

  font-weight: 500;
  line-height: 1.4;
}

.card__link-wrapper {
  text-align: right;
}

.card__more-link {
  position: relative;
  font-size: 14px;
  color: #ff427f;
  padding-left: 40px;
}

.card__more-link::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #ff427f;
  left: 0;
  top: 50%;
}


/******** PORTFOLIO *********/

.portfolio__container {
  position: relative;
}

.portfolio__container::before {
  content: "";
  position: absolute;
  width: 145px;
  height: 130px;
  background: url("./img/ring-2.png") no-repeat center / contain;
}

.portfolio__title-wrapper {
  position: relative;
}

.portfolio__ring {
  position: absolute;
  left: 0;
  top: 0;
}

.portfolio__media {
  margin: 0 0 40px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video {
  height: 500px;
  position: relative;
}

.video__media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__play {
  position: absolute;
  bottom: 30px;
  right: 30px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
}

.video__play:hover {
  transform: scale(1.03);
}

.video__play:active {
  transform: scale(1);
  opacity: 0.9;
}

.video__play-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.portfolio__row {
  height: 250px;
  display: flex;
  gap: 20px;
}

.portfolio__row:nth-child(odd) {
  flex-direction: row-reverse;

}

.portfolio__img {
  width: calc(30% - 10px);
  object-fit: cover;
}

.portfolio__img:nth-child(1) {
  width: calc(70% - 10px)
}

.portfolio__img--pos-top {
  object-position: 0 -50px;
}


/****** TESTIMONIAL ******/

.testimonial__container {
  display: flex;
  justify-content: space-between;
}

.testimonial span {
  color: #ec5598;
}

.testimonial__img-wrapper {
  position: relative;
  padding: 55px 0 0 55px;
}

.testimonial__img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 400px;
  height: 510px;
  background-color: #ec5598;
}

.testimonial__img {
  width: 400px;
  height: 510px;
  object-fit: cover;
  object-position: -100px;
}


.testimonial-text {
  width: 50%;
}

.testimonial__title {
  margin: 0 0 20px 0;

  font-size: 40px;
}

.testimonial__desc {
  margin: 0 0 20px 0;
}

.testimonial__desc p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}

.testimonial__author cite {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

/******  INST ******/

.inst {
  height: 360px;
  display: flex;
}

.inst img {
  width: 25%;
  object-fit: cover;
}

/****** CTA ******/

.cta {
  margin: 0;
  padding: 70px 0;

  background-color: #ec5598;
  color: #fff;

  text-align: center;
}

.cta__container {
  width: 770px;
}

.cta__title {
  margin: 0 0 30px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.cta__desc {
  margin: 0 0 30px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}



/****** FOOTER *******/

.footer {
  padding: 80px 0;

  background-color: #454545;
  color: #e8e8e8;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__desc>*+* {
  margin: 15px 0 0 0;
}

.footer__desc {
  width: 275px;
}

.footer__logo {
  font-size: 30px;
  color: #ec5598;
}

.footer__text {
  line-height: 1.4;
}

.socials {
  display: flex;
  gap: 20px;
}

/* .socials__link {
    display: inline-block;
} */

/* .socials a + a {
    margin: 0 0 0 20px;
    
} */

.copy {
  line-height: 1.4;
}

.copy a {
  color: #ec5598;
  transition: 0.3s;
}

.copy a:hover {
  color: #fc8eb1;
}

.copy a:active {
  color: #FF0254;
}

.footer__list {
  display: flex;
  gap: 100px;
}

.footer__list-title {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;

  color: #fff;
}

.footer__list-inner {
  margin-top: 20px;
}

.footer__list-inner a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #cfcfcf;
  transition: 0.3s;
}

.footer__list-inner a:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.footer__list-inner a:active {
  color: #FF0254;
  transform: scale(0.9);
}

.footer__list-inner li {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.footer__list-inner li+li {
  margin-top: 15px;
}